.container {
  padding: 0 1.5rem;
}
.active {
  background: #e8f1fd;
  border-left: 4px solid $primary-color;
}

// Padding

.p {
  &-1 {
    padding: 1rem;
  }
  &-2 {
    padding: 2rem;
  }
  &-3 {
    padding: 3rem;
  }
  &-4 {
    padding: 4rem 0;
  }
}

.py {
  &-1 {
    padding: 1rem 0;
  }
  &-2 {
    padding: 2rem 0;
  }
  &-3 {
    padding: 3rem 0;
  }
  &-4 {
    padding: 4rem 0;
  }
}

// Margin
.my {
  &-1 {
    margin: 1rem 0;
  }
  &-2 {
    margin: 2rem 0;
  }
  &-3 {
    margin: 3rem 0;
  }
  &-4 {
    margin: 4rem 0;
  }
}
