@import './styles/variables';
@import './styles/utilities';
// Quick reset Styles
* {
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
p {
  margin: 0.75rem 0;
}
li {
  list-style-type: none;
}

img {
  width: 100%;
}
body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: #f7f8fa;
  font-size: 0.875rem;
}

// Navbar
#navbar {
  background-color: #fff;
  box-shadow: 0px 4px 10px rgba(79, 79, 79, 0.07);
  position: sticky;
  .container {
    display: flex;
    align-items: center;
    img {
      padding-top: 0.6rem;
    }
    .logo {
      flex: 1;
      font-family: Roboto;
      font-style: normal;
      font-weight: 900;
      font-size: 1.5rem;
      line-height: 1.75;
      color: $primary-color;
    }
    .nav-items ul {
      display: flex;
      li {
        margin: 0 1rem;
        color: $dark-color;
        align-self: center;
      }
    }
  }
}

#side {
  display: grid;
  grid-template-columns: 2fr 1fr;
  text-align: right;
  & > div > span {
    font-size: 0.625rem;
  }
  img {
    width: 40px;
    border-radius: 50%;
    align-items: center;
  }
}

// main content
#main {
  display: flex;
  aside {
    background: #fff;

    a {
      display: inline-block;
      padding: 0.5rem 1.7rem;
      background: $green-color;
      border-radius: 30px;
      margin-bottom: 1rem;
      color: white;
      font-family: Roboto;
      font-size: 0.75rem;
    }

    .list {
      font-size: 11px;
      font-weight: normal !important;
      color: #647787;

      h3 {
        font-weight: normal;
      }
      img {
        width: 20px;
        margin-right: 10px;
      }

      ul li {
        padding: 0.5rem 1rem;
        // padding: 0.25rem;
        display: flex;
        &:hover {
          background: #e8f1fd;
          border-left: 4px solid $primary-color;
        }
      }
    }
  }
}

.main-content {
  padding: 1rem 1rem 1rem 2rem;
  flex: 1;
}

.card {
  background-color: #fff;
  display: flex;
  font-size: 0.75rem;
  color: #787c90;
  margin-right: 0.7rem;
  flex: 1;
  justify-content: space-between;
  img {
    width: 3rem;
    margin-left: 0.5rem;
  }
  ul li:last-child {
    color: #262626;
    font-size: 1.125rem;
  }
}

// Table style
table {
  border-collapse: collapse;
  width: 100%;
  .text {
    background-color: $dark-color;
    color: #fff;
    padding: 0.7rem;
    border-radius: 50%;
    margin-right: 0.5rem;
    text-align: center;
    font-size: 0.75rem;
    display: inline-block;
  }
  .last {
    border: 1px solid #cccfd4;
    box-sizing: border-box;
    border-radius: 30px;
    color: $green-color;
    padding: 0.4rem 0rem;
    cursor: pointer;
    span {
      background-color: $green-color;
      border-radius: 50%;
      display: inline-block;
      width: 9px;
      height: 9px;
      margin: 0 0.7rem;
    }
  }
  tr {
    background-color: #fff;
  }
  td,
  th {
    border-bottom: 1px solid #ddd;
    padding: 1rem;
    color: #7f8fa4;
  }

  tr:hover {
    background-color: #ddd;
  }

  th {
    padding-top: 0.75rem;
    padding-bottom: 0.75rem;
    text-align: left;
    background-color: #eaeef0;
    color: #7f8fa4;
    font-weight: normal;
  }

  td:first-child {
    color: #414042 !important;
  }
}

// showcase
#showcase {
  display: grid;
  grid-template-columns: 2fr 1.3fr;
  gap: 0.5rem;
  margin-top: 1.5rem;
  .graph {
    background-color: white;
    height: 329px;
    // width: 100px;
    // height: 100px;
  }

  .big-card {
    background-color: #fff;
    margin-bottom: 0.5rem;
    ul li {
      margin: 0.5rem 0;
    }
  }
}
.line {
  height: 0.3rem;
  background-color: $secondary-color;
  border-radius: 3.125rem;
  margin-top: 0.6rem;
  div:first-child {
    background-color: $green-color;
    border-top-left-radius: 3.125rem;
    border-bottom-left-radius: 3.125rem;
    width: 70%;
    height: 0.3rem;
  }
}

.payment {
  h1 {
    font-weight: normal;
    font-size: 2.25rem;
  }
}
.payment-area {
  display: flex;
  justify-content: space-between;
  align-self: center;
}

// Drowdown
.dropbtn {
  padding: 0.7rem 0.3rem;
  text-align: left;
  width: 9.375rem;
  border: 1px solid #ced0da;
  cursor: pointer;
}

.dropdown {
  position: relative;
  margin-left: 1rem;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
  a {
    color: black;
    padding: 0.75rem 16px;
    text-decoration: none;
    display: block;
    &:hover {
      background-color: #f1f1f1;
    }
  }
}

.dropdown:hover .dropdown-content {
  display: block;
}

// Searchbar
.search-container {
  border-bottom: 0.5px solid #787878;
  input[type='text'] {
    padding: 6px;
    margin-top: 11px;
    font-size: 11px;
    border: none;
    background-color: #f7f8fa;
    &:focus {
      border: none;
    }
  }

  button {
    float: left;
    padding: 6px 0 10px;
    margin-top: 8px;
    background-color: #f7f8fa;
    font-size: 17px;
    border: none;
    cursor: pointer;
  }
}
